:last-child:root {
  font-size: 62.5%;
  --primary: #0d1117;
  --secondary: #161b22;
  --font: #ededed;
  --button01: #ed0000;
  --button02: #ed3300;
  --button03: #ed7733;
  --highlights: #009999;
  --smallSpacer: 0.5rem;
  --mediumSpacer: 1rem;
  --largeSpacer: 1.5rem;
  --xlargeSpacer: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

body {
  background-color: var(--primary);
  color: var(--font);
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Global settings

section{
  width: 80%;
  margin: auto;
}

article{
  padding: 3rem 0;
}

h1,h2,h3,h4{
  width: 100%;
}

h1{
  font-size: 5rem;
}

h2{
  margin: var(--largeSpacer) 0 var(--smallSpacer);
  padding: var(--mediumSpacer) 0 var(--smallSpacer);
}

.spacer{
  max-width: 40%;
}

.button, button {
  background-color: var(--button02);
  color: var(--font);
  width: 13.5rem;
  padding: var(--mediumSpacer) var(--largeSpacer);
  margin: 0 1rem;
  border: solid 1px;
  border-radius: 0.8rem;
}

button:hover, button:hover{
  background-color: var(--button03);
  color: var(--secondary);
  font-weight: 600;
  border: solid 3px var(--button02);
}

a{
  width: 100%;
  color: var(--font);
  text-decoration: none;
}

a:hover{
  background-color: #ccccccee;
  color: var(--secondary);
  font-weight: 600;
}

// header
.headerContainer{
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 var(--mediumSpacer) ;

  .logoContainer{
    width: 15rem;
    height: 100%;
    display: flex;

    img{
      height: 100%;
    }
  }

  .socialContainer{
    width: 25rem;
    display: flex;
    align-items: center;

    a{
      width: 6rem;
      height: 6rem;
      font-size: 3rem;
      margin: var(--mediumSpacer) var(--smallSpacer);
      margin-top: var(--mediumSpacer);
      padding: var(--smallSpacer) var(--mediumSpacer);
    }

    .discord{
      padding: var(--smallSpacer);
    }
  }
}

// Navbar
.navbarContainer {
  background-color: var(--secondary);
  display: flex;
  justify-content: end;
  padding: 2rem;
  margin: 0 0 3rem 0;
  position: sticky;
  top: 0;
  z-index: 2;

  i{
    font-size: 2.1rem;
  }

  .dropdownMenu{
    background-color: var(--secondary);
    width: 16rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 7.5rem;
    right: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 3rem;
    box-shadow:
    var(--highlights) 1px 1px 1px,
    var(--highlights) -1px -1px 1px,
    var(--highlights) -1px 1px 1px,
    var(--highlights) 1px -1px 1px;

    .button{
      width: 14rem;
      padding:0;
    }
  }
}

@media screen and (max-width: 650px) {

  .navbarContainer{
    padding: 2rem 0.5rem;

    .dropdownMenu{
      width: 25rem;
      padding: 0.5rem;
  
      .button{
        margin: 0.4rem;
        padding: 0.5rem 0.8rem;
      }
    }
  }

  .spacer{
    width: 0%;
  }
}

// Landingpage
.landingpage{
  //height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  .aboutContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    .imgContainer{
      width: 100%;
      margin: auto;
      overflow: hidden;

      .carousel{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
        transition: cubic-bezier(5);

        i{
          width: 5rem;
          font-size: 4rem;
          text-align:center;
          align-self: center;
          padding: 5.5rem 1rem;
          cursor: pointer;
          border: none;
          border-radius: 2rem;
        }

        i:hover{
          background-color: var(--secondary);
          color: red;
        }

        div{
          width: 50rem;
          height: 30rem;
          overflow: hidden;
  
          img{
            width: 100%;
            height: 100%;
          }
        }

        .shopPreviewContainer{
          background-color: var(--secondary);
          width: 38rem;
          height: 60rem;
          position: relative;
          border: solid red 0.2rem;
          box-shadow: 
          0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
          -0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66,
          -0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
          0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66;

          h3{
            height: 6rem;
            font-size: 2rem;
            padding: 0.5rem;
          }

          .shopPreviewCard{
            width: 80%;
            height: auto;
            margin: 0.8rem auto;

            img{
              width: 100%;
            }
          }

          .description{
            width: 80%;
            height: 15rem;
            font-size: 1.4rem;
            text-align: start;
            margin: auto;

            p{
              margin: 0.5rem;
            }
          }

          .cardFooter{
            width: 85%;
            height: 4rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            left: 7.5%;
            bottom: 1rem;

            .price{
              width: 30%;
              height: 3.5rem;
              font-size: 2.2rem;
            }
  
            a{
              background-color: var(--button02);
              width: 40%;
              height: 3.5rem;
              font-size: 1.6rem;
              font-weight: 600;
              padding: 0.5rem 1rem;
            }

            a:hover{
              background-color: var(--button01);
              color: var(--font);
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .newArticle{
    display: flex;
    justify-content: center;

    .article{
      width: 40%;
      margin: auto;
      padding: 1rem 3rem;
      border: solid 1px;
      box-shadow: inset 1px 1px 1px #000,
      inset 1px 1px 1px #242629;

      h2{
        text-align: start;
        border-bottom:solid;
      }

      p{
        text-align: justify;
      }
    }
  }
}

// news Settings
.basicNewsCard {
  background-color: var(--secondary);
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem auto;
  padding: var(--largeSpacer);

  .newsHeadLine{
    width: 100%;
    display: flex;
    border-bottom: solid 1px #ccc;

    h2 {
      width: 80%;
      text-align: start;
      padding: 0 var(--mediumSpacer);
    }
  
    .date {
      width: 20%;
      text-align: end;
    }
  }

  .newsDescription {
    width: 100%;
    padding: var(--mediumSpacer);
    margin: var(--mediumSpacer) 0;
    border-bottom: 1px solid #ccc;
  }

  .newsDetails {
    width: 60%;
    text-align: center;
    padding: var(--mediumSpacer);
    margin: var(--mediumSpacer) auto;
    border: solid 2px red;
  }

  .paragraphs{
    width: 100%;

    .paraTitle{
      padding: var(--largeSpacer) 0 var(--smallSpacer) 0;
      margin: var(--largeSpacer) 0 var(--smallSpacer) 0;
    }

    .contentContainer{
      display: flex;
      flex-wrap: wrap;
      margin: var(--mediumSpacer) auto;

      .paraContent{
        min-width: 100%;
        margin: auto;
        padding: var(--mediumSpacer);

        img{
          max-width: 100%;
        }
  
        .left{
          width: 50%;
          float: left;
          padding: var(--smallSpacer) var(--mediumSpacer);
        }
  
        .right{
          width: 50%;
          float: right;
          padding: var(--smallSpacer) var(--mediumSpacer);
        }
  
        .banner{
          width: 100%;
          float: none;
        }

        .icon{
          width: 20%;
          float: right;
          padding: var(--smallSpacer) var(--mediumSpacer);
        }
      }

      // .left, .right{
      //   width: 30%;
      // }
      // .center{
      //   width:100%;
      //   img{
      //     width: 30%;
      //   }
      // }
      // .banner{
      //   width: 100%;
      // }
      // .icon{
      //   width: 10%;
      // }
    }
  }
}

.modal{
  .part{
    padding: var(--smallSpacer);
    margin: var(--smallSpacer) 0;
  }
}

// shop settings
.shopContainer{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: var(--mediumSpacer);
  margin: auto;

  // shop filter
  .shopFilter{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;

    select{
      background-color: transparent;
      color: var(--font);
      width: 15rem;
      padding: var(--smallSpacer) var(--mediumSpacer);
      margin: var(--smallSpacer);
      border-radius: var(--smallSpacer);

      option{
        background-color: #ccc;
        color: var(--primary)
      }
    }
  }

  article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .shopPreviewContainer{
      background-color: var(--secondary);
      width: 38rem;
      height: 60rem;
      position: relative;
      margin: 2rem 2rem;
      border: solid red 0.2rem;
      box-shadow: 
      0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
      -0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66,
      -0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
      0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66;

      h3{
        height: 6rem;
        font-size: 2rem;
        padding: 0.5rem;
      }

      .shopPreviewCard{
        width: 80%;
        height: auto;
        margin: 0.8rem auto;

        img{
          width: 100%;
        }
      }

      .description{
        width: 80%;
        height: 15rem;
        font-size: 1.4rem;
        text-align: start;
        margin: auto;

        p{
          margin: 0.5rem;
        }
      }

      .cardFooter{
        width: 85%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 7.5%;
        bottom: 1rem;

        .price{
          width: 30%;
          height: 3.5rem;
          font-size: 2.2rem;
        }

        a{
          background-color: var(--button02);
          width: 40%;
          height: 3.5rem;
          font-size: 1.6rem;
          padding: 0.5rem 1rem;
        }

        a:hover{
          background-color: var(--button01);
          color: var(--font);
          font-weight: 600;
        }
      }
    }
  }
}


// Streamplan

.terminContainer{
  display: flex;
  margin: 0 auto 5rem;

  .dateBG{
    background: url("../public/images/particles.gif") 100%/cover no-repeat;
    width: 30rem;
    height: 30rem;
    margin: 1.3rem;
    border-radius: 9rem;
  }

  .date{
    background: linear-gradient(45deg, #111010cc 0%, #18181866 60%, #504f4fcc 120%);
    width: 30rem;
    height: 30rem;
    margin: auto;
    padding: 1.3rem;
    position: relative;
    border: solid 1px var(--font);
    border-radius: 5rem;
    box-shadow:
    2px 2px 6px 2px #959595,
    2px 2px 6px 2px #e20a0a,
    -2px 2px 6px 2px #959595,
    2px -2px 6px 2px #e20a0a;
    

    h3{
      font-size: 3rem;
      padding-bottom: 2rem;
    }

    .dateText{
      color: #ededed66;
      font-size: 5rem;
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
    }
  }
}

.streamplanContainer{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: var(--largeSpacer);

  .planContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: auto;
  
    .planCard{
      background-color: var(--secondary);
      width: 100%;
      height: 22rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      vertical-align: middle;
      font-size: 2.6rem;
      font-weight: 600;
      margin: 0.7rem;
      border: solid var(--secondary);
      
      .streamHeader{
        font-size: 2rem;
        padding: var(--mediumSpacer)
      }

      .day, .video{
        width: 40%;
      }

      .video{
        video{
          height: 19rem;
          border-radius: 50%;
        }
      }

      .social{
        width: 10%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 4rem;

        i{
          width: 100%;
        }
      }
    }

    .free{
      height: 12rem;
    }
  }

  .planContentConatiner{
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}

// Celest Abyss

.createForm{
  background-color: var(--secondary);
  width: 80%;
  min-height: 60rem;
  margin: var(--largeSpacer) auto;
  padding: var(--mediumSpacer);
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;

  label{
    font-size: 2rem;
    margin: var(--smallSpacer);
    padding: var(--smallSpacer) var(--largeSpacer);
    border: solid 1px;
  }

  input{
    width: 70%;
    font-size: 1.8rem;
    margin: var(--smallSpacer) var(--mediumSpacer);
    padding: var(--smallSpacer);
    border-radius: var(--smallSpacer);
  }

  div{
    width: 100%;
    display: flex;
    justify-content: space-between;

    label{
      min-width: 20rem;
      border: red solid 2px;
    }
  
    input{
      width: 80%;
      padding: var(--smallSpacer) var(--mediumSpacer); 
    }
  }
  

  .counter{
    position: relative;
    top: -2rem;
    left: 90%;
  }

  .content{
    width: 100%;
  }

  textarea{
    width: 100%;
    max-width: 100%;
    height: 30rem;
    max-height: 30rem;
    line-height: 1.7rem;
    margin: var(--mediumSpacer) auto;
    padding: var(--smallSpacer);
  }

  .textarea{
    width: 100%;
    max-width: 100%;
    height: 10rem;
    max-height: 30rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: var(--mediumSpacer) auto;
    padding: var(--smallSpacer) var(--mediumSpacer);
  }

  button{
    background-color:lightgreen;
    width: 20%;
    height: 4rem;
    padding: var(--smallSpacer);
    border-radius: 2rem;
  }
}

.articleMenu{
  width: 80%;
  display: flex;
  margin: 1rem auto -1rem auto;
  padding: var(--mediumSpacer);

  button{
    width: 50%;
    margin: 0.2rem;
    padding: var(--mediumSpacer);
    border: solid 1px;
    border-radius: 1rem  1rem 0rem 0rem
    ;
  }
}

.newSpan{
  background-color: var(--secondary);
  color: lightgreen;
  width: 80%;
  margin: var(--mediumSpacer);
  padding: var(--mediumSpacer);
  border: #999 solid 1px;
  border-radius: var(--smallSpacer);
}

.newSpan:hover{
  border: var(--font) solid 1px;
}

.createArticle{
  background-color:lightgreen;
    width: 40%;
    margin: var(--mediumSpacer);
    padding: var(--mediumSpacer);
    border-radius: var(--smallSpacer);
}



.footerContainer{
  background-color: var(--secondary);
  width: 100%;
  height: 13.5rem;
  display: flex;
  flex-wrap: wrap;justify-content: end;
  margin-top: var(--xlargeSpacer);
  padding: var(--xlargeSpacer);

  .aboutContainer{
    width: 30%;
  }

  .linkContainer{
    min-width: 40%;
    font-size: 4rem;
    padding: var(--mediumSpacer);

    i{
      width: 8rem;
      height: 100%;
      border: none;
      padding: var(--mediumSpacer);
    }

    a:hover{
      background-color: transparent;
    }

    .fa-discord{
      color: var(--font);
    }
    .fa-discord:hover{
      background-color: blue;
      color: var(--secondary);
    }
    .fa-twitch{
      color: rgba(172, 46, 210, 0.872);
    }
    .fa-youtube{
      color: rgb(198, 6, 6);
    }
    .fa-twitch:hover, .fa-youtube:hover{
      background-color: var(--font);
    }
    .fa-tiktok{
      color: var(--primary);
    }
    .fa-tiktok:hover{
      background-color: var(--primary);
      color: var(--font);
    }
    .fa-patreon{
      color: rgba(255, 77, 0, 0.867);
    }
    .fa-patreon:hover{
      color: rgb(254, 100, 34);
    }
  }
  
    ul li{
      list-style: none;
    }
}

.loginPage{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginContainer{
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--xlargeSpacer);
    border: solid;
    border-radius: var(--mediumSpacer);
  
    label{
      width: 100%;
      margin: var(--smallSpacer);
    }
  
    input{
      width: 100%;
      padding: var(--smallSpacer) var(--mediumSpacer);
      border-radius: var(--smallSpacer);
    }

    button{
      font-size: 1.7rem;
      font-weight: 600;
      margin-top: var(--mediumSpacer);
      padding: var(--smallSpacer) var(--mediumSpacer);
      border-radius: var(--mediumSpacer);
    }
  }
}

// Dashboard
.dashboardContainer{
  min-height: 80vh;
  display: flex;
  justify-content: start;
  flex-direction: column;

  .dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    .dashboardMenu{
      width: 25rem;
      height: 16rem;
      margin: var(--mediumSpacer);
      padding: var(--largeSpacer) var(--smallSpacer);
      border: solid 1px;
    }
  }

  .articleForm{

    form{
      background-color: var(--secondary);
      width: 60%;
      font-size: 2rem;
      margin: auto;
      padding: 2rem;
      border: solid 1px var(--secondary);
      border-radius: 1rem;

      label{
        width: 100%;
        min-height: 5rem;
        display: flex;
        align-items: center;
        padding: 0.5rem;

        span{
          width: 20rem;
          display: inline-block;
          padding: 0 2rem;
          margin: 0 2rem;
        }

        input, textarea{
          width: 60rem;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          margin-left: auto;
        }

        input[name="type"],
        input[name="gender"],
        input[name="price"],
        input[name="drachenmünzen"]{
          width: 16rem;
        }

        textarea{
          padding: 0.8rem 1.5rem;
          font-size: 1.8rem;
          line-height: 2.1rem;
          resize: none;
          border-radius: 2rem;
          overflow: hidden;
        }

        input:focus, textarea:focus{
          background-color: rgb(185, 231, 249);
          outline-color: red;
          outline-style: groove;
        }
      }
    }
  }
}



// Mediaquerry
@media only screen and (max-width: 1200px) {
  .streamplanContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: var(--largeSpacer);
   
  
    .planContainer{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      margin: auto;

      .planCard{
        width: 100%;
        height: 22rem;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        font-size: 2.6rem;
        font-weight: 600;
        margin: 0.7rem;
        padding: var(--smallSpacer);
        

        .day, .video, .freeContainer{
          width: 50%;
        }
      }

      .free{
        height: 12rem;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .streamplanContainer{
    flex-direction: column;
    padding:0;
    border: solid red;

    .planContainer{
      width: 100%;

      .planCard{
        width: 100%;
        height: 33rem;
        justify-content: space-around;
        flex-direction: column;
        
        .day{
          margin: var(--mediumSpacer) 0;
        }

        .video{
          width: 100%;
          
          video{
            width: 100%
          }
        }
      }

      .free{
        height: 12rem;
      }
    }
  }  
}