:root {
  font-size: 62.5%;
  --primary: #0d1117;
  --secondary: #161b22;
  --font: #ededed;
  --button01: #ed0000;
  --button02: #ed3300;
  --button03: #ed7733;
  --highlights: #009999;
  --smallSpacer: 0.5rem;
  --mediumSpacer: 1rem;
  --largeSpacer: 1.5rem;
  --xlargeSpacer: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

body {
  background-color: var(--primary);
  color: var(--highlights);
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Global settings
h1,h2,h3,h4{
  width: 100%;
}

h2{
  margin: var(--largeSpacer) 0 var(--smallSpacer);
  padding: var(--mediumSpacer) 0 var(--smallSpacer);
}

.spacer{
  max-width: 40%;
}

.button {
  background-color: var(--button03);
  color: #fff;
  width: 13.5rem;
  padding: var(--mediumSpacer) var(--largeSpacer);
  margin: 0 1rem;
  border: solid 1px;
  border-radius: 0.8rem;
}

a{
  width: 100%;
  color: var(--font);
  text-decoration: none;
}

a:hover{
  background-color: #ccccccee;
  color: var(--secondary);
  font-weight: 600;
}

// header
.headerContainer{
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 0 var(--mediumSpacer) ;

  .logoContainer{
    width: 15rem;
    height: 100%;
    display: flex;

    img{
      height: 100%;
    }
  }

  .socialContainer{
    width: 25rem;
    display: flex;
    align-items: center;

    a{
      width: 6rem;
      height: 6rem;
      font-size: 3rem;
      margin: var(--mediumSpacer) var(--smallSpacer);
      margin-top: var(--mediumSpacer);
      padding: var(--smallSpacer) var(--mediumSpacer);
      border: solid;
    }

    .discord{
      padding: var(--smallSpacer);
    }
  }
}

// Navbar
.navbarContainer {
  background-color: var(--secondary);
  display: flex;
  justify-content: end;
  padding: 2rem;
  margin: 0 0 3rem 0;
  position: sticky;
  top: 0;
  z-index: 2;

  .dropdownMenu{
    background-color: var(--secondary);
    width: 16rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 7.5rem;
    right: 0.5rem;
    padding: 1rem;
    box-shadow:
    var(--highlights) 1px 1px 1px,
    var(--highlights) -1px -1px 1px,
    var(--highlights) -1px 1px 1px,
    var(--highlights) 1px -1px 1px;

    .button{
      width: 14rem;
      padding:0;
    }
  }
}

@media screen and (max-width: 650px) {

  .navbarContainer{
    padding: 2rem 0.5rem;

    .dropdownMenu{
      width: 25rem;
      padding: 0.5rem;
  
      .button{
        margin: 0.4rem;
        padding: 0.5rem 0.8rem;
      }
    }
  }

  .spacer{
    width: 0%;
  }
}

// news Settings
.basicNewsCard {
  background-color: var(--secondary);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem auto;
  padding: 1rem;

  h2 {
    width: 80%;
    text-align: start;
    border: solid;
  }

  .date {
    width: 20%;
    text-align: end;
    border: solid;
  }

  .newsContent {
    margin: 0.5rem 0;
    border: solid;
  }

  .newsFooter {
    width: 100%;
    text-align: end;
  }
}

// shop settings
.basicShopCard {
  background-color: var(--secondary);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem auto;
  padding: 2rem 3rem;
  
  h2 {
    margin: 1rem 0;
    text-align: start;
    border: solid;
  }

  .image{
    width: 20%;
    margin: 2rem 0;
    border: solid;

    img{
      width: 100%;
      border: solid;
    }
  }

  .shopContent {
    width: 75%;
    margin: 1rem 2rem;
    border: solid;
  }

  .shopFooter {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: end;

    .button{
      width: 14rem;
    }
  }
}


// Streamplan
.streamplanContainer{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: var(--largeSpacer);
  border: solid 1px;

  .planContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: auto;
  
    .planCard{
      background-color: var(--secondary);
      width: 100%;
      height: 22rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      vertical-align: middle;
      font-size: 2.6rem;
      font-weight: 600;
      margin: 0.7rem;
      border: solid var(--secondary);
      
      .streamHeader{
        font-size: 2rem;
        padding: var(--mediumSpacer)
      }

      .day, .video, .freeContainer{
        width: 40%;
        
      }

      .freeContainer{
        margin: auto;
      }

      video{
        height: 19rem;
      }
    }

    .free{
      height: 12rem;
    }
  }

  .planContentConatiner{
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}

// Celest Abyss

.createForm{
  background-color: var(--secondary);
  width: 80%;
  height: 60rem;
  margin: auto;
  padding: var(--mediumSpacer);
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;

  label{
    font-size: 2rem;
    margin: var(--smallSpacer);
    padding: var(--smallSpacer) var(--largeSpacer);
    border: solid 1px;
  }

  input{
    width: 70%;
    font-size: 2rem;
    margin: var(--smallSpacer) var(--mediumSpacer);
    padding: var(--smallSpacer);
    border-radius: var(--smallSpacer);
  }

  .counter{
    position: relative;
    top: -2.5rem;
    left: 92%;
  }

  .content{
    width: 100%;
  }

  textarea{
    width: 100%;
    max-width: 100%;
    height: 62%;
    max-height: 67%;
    line-height: 1.7rem;
    margin: var(--mediumSpacer) auto;
    padding: var(--smallSpacer);
  }

  button{
    background-color:lightgreen;
    width: 20%;
    height: 4rem;
    padding: var(--smallSpacer);
    border-radius: 2rem;
  }
}

.articleMenu{
  width: 80%;
  display: flex;
  margin: auto;
  padding: var(--mediumSpacer);

  button{
    width: 50%;
    margin: 0.2rem;
    padding: var(--mediumSpacer);
    border: solid 1px;
    border-radius: 1rem  1rem 0rem 0rem
    ;
  }
}

.newSpan{
  background-color: var(--secondary);
  color: #999;
  width: 80%;
  margin: var(--mediumSpacer);
  padding: var(--mediumSpacer);
  border: #999 solid 1px;
  border-radius: var(--smallSpacer);
}

.newSpan:hover{
  color: var(--font);
  border: var(--font) solid 1px;
}

.createArticle{
  background-color:lightgreen;
    width: 40%;
    margin: var(--mediumSpacer);
    padding: var(--mediumSpacer);
    border-radius: var(--smallSpacer);
}



.footerContainer{
  background-color: var(--secondary);
  width: 100%;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--xlargeSpacer);
  padding: var(--xlargeSpacer);

  .aboutContainer{
    width: 33%;
  }

  .linkContainer{
    width: 33%;
  }
  
    ul li{
      list-style: none;
    }
}

// Mediaquerry
@media only screen and (max-width: 1200px) {
  .streamplanContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: var(--largeSpacer);
   
  
    .planContainer{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      margin: auto;

      .planCard{
        width: 100%;
        height: 22rem;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        font-size: 2.6rem;
        font-weight: 600;
        margin: 0.7rem;
        padding: var(--smallSpacer);
        

        .day, .video, .freeContainer{
          width: 50%;
        }
      }

      .free{
        height: 12rem;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .streamplanContainer{
    flex-direction: column;
    padding:0;
    border: solid red;

    .planContainer{
      width: 100%;

      .planCard{
        width: 100%;
        height: 33rem;
        justify-content: space-around;
        flex-direction: column;
        
        .day{
          margin: var(--mediumSpacer) 0;
        }

        .video{
          width: 100%;
          
          video{
            width: 100%
          }
        }
      }

      .free{
        height: 12rem;
      }
    }
  }  
}